<!doctype html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div>
            <p>Click on Login or Signup</p>
            <a href="/login" class="btn btn-primary"><span class="fa fa-user"></span> Login</a>
            <a href="/signup" class="btn btn-primary"><span class="fa fa-user"></span> Signup</a>
        </div>
    </div>
</body>
</html>