<!doctype html>
<html>
<head>
	<title>Profile after authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<h3>Profile</h3>
		<a href="/logout" class="btn btn-primary">Logout</a>
	</div>
</body>
</html>
